langchain==0.3.1
langchain-community==0.3.1
langgraph[server]==0.2.34
langserve[server]==0.3.0
python-dotenv==1.0.1
yfinance==0.2.54
langchain-openai==0.2.0
pandas_ta==0.3.14b
openinference-instrumentation-langchain==0.1.29
opentelemetry-instrumentation-fastapi==0.49b2
opentelemetry-sdk==1.28.2
opentelemetry-exporter-otlp==1.28.2
langchain-azure-dynamic-sessions==0.2.0
fastapi-azure-auth==5.0.1
azure-monitor-opentelemetry==1.6.5
httpx==0.27.2